@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
